.launch{
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.paging{
    margin-bottom: 20px;
}

.launchLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

