.navbar{
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

body[data-theme="dark"] nav {
  background-color: #1e1e1e;
}

body[data-theme="light"] nav {
  background-color: #f5f5f5;
}